@{
    ViewData["Title"]="Wedding Info";
}
@model Wedding
<Div class="d-flex justify-content-between">
    <h1>@Model.WedderOne and @Model.WedderTwo's Wedding</h1>
    <span>
        <a asp-controller="User" asp-action="Dashboard" class="btn btn-outline-info mt-3 text-dark">Dashboard</a>
        <a asp-controller="User" asp-action="Logout" class="btn btn-outline-info mt-3 text-dark">Log Out</a>
    </span>
</Div>
<div class="main justify-content-around d-flex">
    <div class="col-med">
        @{
            string bigDay = Model.WeddingDate.ToString("MMMM dd, yyyy");
            <p class="fs-4 mt-3 ms-2">@bigDay</p>
        }
        <br>
        <ul class="fs-4 ms-2 list-group">Guests:</ul>
        @{
            @if(Model.Users.Count > 0)
            {
                @foreach(var one in Model.Users)
                {
                    <li class="list-item">@one.User.FirstName @one.User.LastName</li>
                }
            }
        }
    </div>
    <div class="col-med">
        <div class="map">
            <iframe 
                width="400"
                height="400"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=@ViewBag.Key
                &q=@Model.Address">
            </iframe>
        </div>
    </div>
</div>